img {
  height: 60vh;
  padding-top: 5%;
}

h1 {
  color: white;
  font-size: 50px !important;
  margin-bottom: 50px !important;
}

h2 {
  color:black;
  text-align: center;
  font-size: 200%;
  padding-top: 2%;
  font-weight: bold !important;
}

h3 {
  font-size: 250%;
  line-height: 30px;
  margin-left: 10%;
  padding-top: 5%;
}

p1 {
  color: black;
  font-size: 20px;
}

p2 {
  color: white;
  font-size: 20px;
  
}

li {
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding-top: 5px;
}

.costom-img {
  border-radius : 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 3%;
}

.costom-p1 {
  text-align: center;
  margin-bottom: 2px !important;
  color: white;
  font-family: verdana;
}

.blocks {
  display: block;
  width: 40vw;
  margin-left: 10%;
  float: left;
  text-align: justify;
}

.position {
  float: right;
  margin-right: 10%;
  margin-bottom: 5%;
}

.hero {
  /* Sizing */
  width: 100vw;
  height: 100vh;

  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Text styles */
  text-align: center;

  /* Background styles */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('./pictures/dive.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*src="./pictures/sand.jpg"*/
/*class="costom-img"*/

.Part1 {
  background-color: #718093;
}

.Part2 {
  background-color: black;
}

.Part3 {
  background-color: #718093;
}

.Part4 {
  background-color: white;
}

.Part5 {
  background-color: #718093;
}

.Part6 {
  background-color: black;
}

.Part7 {
  background-color: #718093;
}

.h3-One {
  color: black;
}

.h3-Two {
  color: white;
}

.column {
  flex: 50%;
}

/* Contact form*/
.cform-alert-success {
  display: none;
  text-align: center;
}